<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div th:replace="~{web/common/header.html}"></div>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container">
            <table id="cart" class="table table-hover table-condensed">
                <thead>
                <tr>
                    <th style="width: 50%">Tên sản phẩm</th>
                    <th style="width: 10%">Giá</th>
                    <th style="width: 8%">Số lượng</th>
                    <th style="width: 22%" class="text-center">Thành tiền</th>
                    <th style="width: 10%"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td><a href="/trang-chu" class="btn btn-warning"><i class="fa fa-angle-left"></i> Tiếp tục mua hàng</a>
                    </td>
                    <td colspan="2" class="hidden-xs"></td>
                    <td><a href="#" class="btn btn-success btn-block">Thanh toán <i class="fa fa-angle-right"></i></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
<div th:replace="~{web/common/foodter.html}"></div>
<script>
    var url = document.location.pathname;
    var userId = url.substring(url.lastIndexOf('/') + 1);
    $(document).ready(function() {
        // Gọi API giỏ hàng chi tiết với userId
        $.ajax({
            url: '/api/GHCT/user/' + userId,
            type: 'GET',
            success: function(response) {
                // Xóa nội dung cũ
                $('#cart tbody').empty();

                // Lặp qua danh sách sản phẩm và thêm vào bảng
                response.forEach(function(item) {
                    $('#cart tbody').append(`
                    <tr>
                      <td data-th="Product">
                        <div class="row">
                          <div class="col-sm-2 hidden-xs">
                            <img src="http://localhost:8080/${item.sanPhamChiTiet.hinhAnh.duongDan}" alt="Sản phẩm" class="img-responsive" width="80">
                          </div>
                          <div class="col-sm-10">
                            <h4 class="nomargin">${item.sanPhamChiTiet.sanPham.tenSanPham}</h4>
                            <p>${item.sanPhamChiTiet.moTa}</p>
                          </div>
                        </div>
                      </td>
                      <td data-th="Price">${item.sanPhamChiTiet.giaSanPham}</td>
                      <td data-th="Quantity"><input class="form-control text-center" value="${item.soLuong}" type="number"></td>
                      <td data-th="Subtotal" class="text-center">${item.soLuong * item.sanPhamChiTiet.giaSanPham}</td>
                      <td class="actions" data-th="">
                        <button class="btn btn-danger btn-sm btnDelete" data-id="${item.sanPhamChiTiet.id}">Xóa</button>
                      </td>
                    </tr>
                `);
                });

                // Bắt sự kiện nút xóa
                $('.btnDelete').click(function() {
                    var productId = $(this).data('id');

                    // Gọi API để xóa sản phẩm
                    $.ajax({
                        url: '/api/GHCT/'+ productId,
                        type: 'DELETE',
                        success: function(result) {
                            // Xóa hàng từ bảng sau khi xóa thành công
                            $('button[data-id="' + productId + '"]').closest('tr').remove();
                        },
                        error: function(xhr) {
                            alert('An error occurred while deleting the product. Please try again.');
                        }
                    });
                });
            },
            error: function(xhr) {
                alert('An error occurred while loading the cart. Please try again.');
            }
        });
    });

</script>
</body>
</html>
