<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Shop Homepage - Start Bootstrap Template</title>
  <!-- Favicon-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{web/common/header.html}"></div>
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <!-- Sản phẩm sẽ được thêm vào đây bởi AJAX -->
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <!-- Các liên kết phân trang sẽ được thêm vào đây -->
    </ul>
  </nav>
</section>
<div th:replace="~{web/common/foodter.html}"></div>

<!-- Import Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Import custom JavaScript -->
<script th:src="@{/dist/addjs/scripts.js}"></script>

<!-- Import custom CSS -->
<link rel="stylesheet" th:href="@{/dist/css/styles.css}" />

<!-- Import favicon -->
<link rel="icon" th:href="@{/dist/assets/favicon.ico}" />
<script th:src ="@{/dist/importCss/Web.js}"></script>
</body>
</html>
