<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chi tiết hóa đơn</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<div id="header">
  <h1>Chi tiết hóa đơn</h1>
</div>

<div id="invoiceDetailsContainer">
  <h2>Thông tin hóa đơn</h2>
  <table class="table table-bordered">
    <tr>
      <th>Mã hóa đơn</th>
      <td th:text="${hoaDon.id}"></td>
    </tr>
    <tr>
      <th>Ngày tạo hóa đơn</th>
      <td th:text="${#temporals.format(hoaDon.createDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th>Ngày thanh toán</th>
      <td th:text="${hoaDon.ngayThanhToan != null ? #temporals.format(hoaDon.ngayThanhToan, 'dd/MM/yyyy HH:mm:ss') : 'Chưa thanh toán'}"></td>
    </tr>

    <tr>
      <th>Trạng thái</th>
      <td th:text="${hoaDon.trangThai}"></td>
    </tr>
    <tr>
      <th>Tổng tiền</th>
      <td th:text="${#numbers.formatDecimal(hoaDon.tongTien, 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    <tr>
      <th>Tên khách hàng</th>
      <td th:text="${hoaDon.ten}"></td>
    </tr>
    <!-- Additional information -->
  </table>
</div>

<div id="productDetailsContainer">
  <h2>Chi tiết sản phẩm</h2>
  <table class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th>Tên sản phẩm</th>
      <th>Màu sắc</th>
      <th>Kích cỡ</th>
      <th>Số lượng</th>
      <th>Giá bán</th>
      <th>Thành tiền</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sanPhamChiTiet : ${hoaDon.sanPhamChiTiet}">
      <td th:text="${sanPhamChiTiet.getSanPham().getTenSanPham()}"></td>
      <td th:text="${sanPhamChiTiet.getMauSac().getTen()}"></td>
      <td th:text="${sanPhamChiTiet.getKichCo().getTenKichCo()}"></td>
      <td th:text="${sanPhamChiTiet.soLuong}"></td>
      <td th:text="${#numbers.formatDecimal(sanPhamChiTiet.giaSanPham, 0, 'COMMA', 2, 'POINT')}"></td>
      <td th:text="${#numbers.formatDecimal(sanPhamChiTiet.thanhTien, 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    </tbody>
  </table>
</div>

<a href="/hoaDon/getAll" class="btn btn-link">Quay lại danh sách hóa đơn</a>

</body>
</html>
