<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DataTables Example</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

</head>
<body>
<div id="unpaidInvoices" class="tab-content">
  <table id="unpaidTable" class="table table-bordered">
    <thead class="thead-dark">
    <tr>
      <th></th>
      <th>Mã hóa đơn</th>
      <th>Ngày tạo hóa đơn</th>
      <th>Ngày Thanh Toán</th>
      <th>Trạng thái</th>
      <th>Tổng tiền</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-01</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    <tr>
      <td><button class="detailsButton btn btn-success">+</button></td>
      <td>001</td>
      <td>2024-09-10</td>
      <td>Chưa thanh toán</td>
      <td>100.000</td>
      <td><!-- Các hành động ở đây --></td>
    </tr>
    </tbody>
  </table>
</div>


<script>
  $(document).ready(function() {
    $('#unpaidTable').DataTable({
      pageLength: 5,
            });
  });
</script>
</body>
</html>
