<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="layout_user_menuUser">
    <!-- Brand Logo -->
    <a href="index.html" class="brand-link">
        <img src="/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="/quanly-user" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            User
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item menu-open" >
                            <a href="/admin" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Quản lý sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="/BanHangOff" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bán Hàng</p>
                            </a>
                        </li>
                        <li class="nav-item menu-open" >
                            <a href="/thongke/sanPhamBanChay" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thông kê</p>
                            </a>
                        </li>
                        <li class="nav-item" menu-open>
                            <a href="/voucher/getAll" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>VouCher</p>
                            </a>
                        </li>
                        <li class="nav-item" menu-open>
                            <a href="/tra-hang" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Trả Hàng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link active" id="hoaDonMenu">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Hóa đơn
                                    <i class="fas fa-angle-down right"></i>
                                </p>
                            </a>

                            <!-- Danh sách các tùy chọn con -->
                            <ul class="nav nav-treeview" id="hoaDonSubMenu" style="display: none;">
                                <li class="nav-item">
                                    <a href="/hoadon/cho" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hóa đơn Chờ</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/hoadon/dang-giao" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hóa đơn đang giao</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/hoadon/hoan-thanh" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hóa đơn hoàn thành</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/hoadon/huy" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Hóa đơn đã hủy</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<script>
    $(document).ready(function() {
        $('#hoaDonMenu').on('click', function(e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của liên kết
            $('#hoaDonSubMenu').slideToggle(); // Hiển thị/ẩn danh sách tùy chọn con
            $(this).toggleClass('menu-open'); // Thêm hoặc xóa class 'menu-open'
        });
    });

</script>
</html>