
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="layout_import_css" th:remove="tag">
    <!-- Các đường dẫn CSS -->
    <link rel="stylesheet" th:href="@{/dist/admin/assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/admin/assets/font-awesome/4.1.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/dist/admin/assets/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style" />


    <script
            th:src="@{/dist/admin/assets/js/bootstrap.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery-ui.custom.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.ui.touch-punch.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.easypiechart.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.sparkline.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.flot.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.flot.pie.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/jquery.flot.resize.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/ace-elements.min.js}"></script>
    <script th:src="@{/dist/admin/assets/js/ace.min.js}"></script>
    <script
            th:src="@{/dist/admin/assets/js/bootstrap.min.js}"></script>


    <script
            th:src="@{/dist/admin/assets/js/jquery-ui.min.js}"></script>

</head>
</html>
